<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Postin - New Post</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('./partials/resources'); -%>
</head>
<body>
    <%- include('./partials/header'); -%>
        <div class="container">

        <h3>New Post</h3>
        <form action="/posts/new" method="post">
            <input type="text" id="title" name="title" placeholder="Title" required> <br>
            <input type="text" id="url" name="url" placeholder="Url"> <br>
            <input type="text" id="text" name="text" placeholder="Text" required> <br>
            <input type="hidden" id="user" name="user" value="<%= user.username%>" required> <br>
            <button class="btn waves-effect waves-light" type="submit" name="action" value="Save">Submit
                <i class="material-icons right">send</i>
            </button>            
        </form>
    </div>
</body>
</html>