<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Postin - New Post</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('./partials/resources'); -%>
</head>
<body>
    <div class="container-fluid">
        <%- include('./partials/header'); -%>
        <form action="/posts/new" method="post">
            <input type="text" id="title" name="title" placeholder="Title" required> <br>
            <input type="text" id="url" name="url" placeholder="Url"> <br>
            <input type="text" id="text" name="text" placeholder="Text" required> <br>
            <input type="text" id="user" name="user" placeholder="User" required> <br>
            <input type="submit" value="Save">
        </form>
    </div>
</body>
</html>