#toast-container {
    min-width: 10%;
    top: 80%;
    right: 50%;
    transform: translateX(50%) translateY(50%);
  }

/* Override button input text to change colour to white. */
.waves-button-input {
  color: white;
}

.post {
  color: black;
  margin-bottom: 1px;
}

.postSingle {
  margin-top: 14px;
}

.deleteBtn {
  display: inline;
}

.voteArrow {
  color: #757575;
  display: block;
  
}

.voteArrow:hover {
  color: #212121;
}